.profile_con{
    margin-top: 92px;
    display: flex;
    flex-direction: column;

}


.profile_card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.profile_img img{
    border-radius: 1000px;
    width: 120px;
    height: 120px;
}
.user_name{
    font-weight: 600;
    font-size: 34px;
    margin-top: 8px;
}

.follow{
    display: flex;
    flex-direction: row;
    gap: 12px;
    font-weight: 600;
    font-size: 16px;
    margin-top: 6px;
}

.sub_button{
    width: 140px;
    height: 44px;
    border-radius: 20px;
    background-color: rgb(241, 21, 169);
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-top: 12px;
}
.sub_button:hover{
    background-color: rgb(128, 0, 85);
    color: white;
}
.if_own{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.if_own button{
    background-color: rgb(213,213,213);
    color: black;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
} 











.arrow_back_profile_page{
    position: absolute;
    top: 110px;
    left: 100px;
    z-index: 10;
    pointer-events: auto;
}
.arrow_back_profile_page img{
    width: 24px;
}










.boards_con{
    display: flex;
    flex-direction: column;

}
.toggle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
    margin-top: 100px;


}
.btn_prof_wrap button{
    font-weight: 600;
    font-size: 16px;
    background-color: transparent;
    padding-bottom: 5px;
    cursor: pointer;
    
    
}
.active_button_profile button{
    border-bottom: 2px solid rgb(0, 0, 0);
}





.boards{
    display: flex;
    margin-left: 9px;
    flex-wrap: wrap;
    gap: 18px;
    
}
.board_item{
    display: flex;
    flex-direction: column;
}
.board_img_con{
    width: 240px;
    height: 160px;
    
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}
.board_img_con img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.board_name{
    font-size: 20px;
    font-weight: 600;
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 4px;
}
.board_count{
    font-size: 14px;
    color:rgb(120, 120, 120) ;
    margin-left: 8px;
}



.board_img_con.stacked:not(:has(img:nth-child(5))) {
    width: 210px;
}
.board_img_con.stacked img {
    position: absolute;
    max-width: 120px;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 15px;
    border-right: 1px solid white;
    

}
.board_img_con.stacked img:nth-child(1) {
    left: 0px;
    z-index: 5;
}
.board_img_con.stacked img:nth-child(2){
    left: 30px;
    z-index: 4;
}
.board_img_con.stacked img:nth-child(3) {
    left: 60px;
    z-index: 3;
}
.board_img_con.stacked img:nth-child(4) {
    left: 90px;
    z-index: 2;
}
.board_img_con.stacked img:nth-child(5) {
    left: 120px;
    z-index: 1;
}










.board_img_con.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1px;
    border-radius: 15px;
}

.board_img_con.grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.board_img_con.grid img:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 3; 
}
.board_img_con.grid img:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.board_img_con.grid img:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}


































.profile_content{
    display: none;
    margin-top: 16px;
}
.active_profile{
    display: flex;
}